.recommendationDisplayArea {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

@media (min-width: 768px) {
    .recommendationDisplayArea {
        flex-direction: row;
        flex-wrap: wrap;
        margin: auto;
        justify-content: center;
    }
}