.infoCard {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    outline: 2px solid gray;
    background-color: bisque;
    margin: 5px;
}