.infoCard {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    outline: 1px solid gray;
    background-color: aliceblue;
    margin: 5px;
    padding: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

.infoCard h2 {
    color: #123499;
    margin-bottom: 0;
}

.infoCard p {
    color: rgb(61, 61, 61);
}