.headerContainer {
    display: flex;
    justify-content: center;
    padding: 10px;
    width: 96%;
}

.title {
    color: brown;
    font-weight: bold;
    font-size: 35px;
    margin: 0;
    text-align: center;
    transition: color 0.3s;
}

@media (max-width: 600px) {
    .nova-title {
        font-size: 18px;
    }
}