.signinCard {
    display: flex;
    flex-direction: column;
    align-items: right;
    width: 100%;
    max-width: 400px;
}

.signinInput {
    margin: 0.5rem 0;
    width: 100%;
    max-width: 300px;
    padding: 0.5rem;
    border-radius: 5px;
    outline: 1px solid #123499;
    border: none;
    font-size: 1rem;
    transition: outline 0.3s;
}

.signinInput:focus {
    outline: 2px solid plum;
}

.signinButton {
    display: flex;
    justify-content: space-evenly;
    padding: 0.75rem 1rem;
    width: 100%;
    max-width: 200px;
    font-size: 1.1rem;
    color: white;
    border: none;
    cursor: pointer;
    background-color: #123499;
    background-color: brown;
    border-radius: 6px;
    transition: background 0.3s, transform 0.3s;
}

.signinButton:hover {
    background-color: #0e255c;
    transform: scale(1.04);
}

.failNotif {
    border: none;
    color: crimson;
    padding: 7px;
    border-radius: 3px;
}