@font-face {
    font-family: "Libertinus Sans";
    src: url("./assets/fonts/LibertinusSans-Regular.ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Geom';
    src: url("./assets/fonts/Geom-VariableFont_wght.ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Geom Italic";
    src: url("./assets/fonts/Geom-Italic-VariableFont_wght.ttf");
    font-weight: normal;
    font-style: italic;
}

body, button, input {
    font-family: 'Geom', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 21px;
}

#root {
    font-family: "Geom", serif;
}